@import '_var.scss';

@import 'components/_typography.scss';
@import 'components/_shadows.scss';
@import 'components/_borders.scss';
@import 'pages/_lodging.scss';
@import 'blocks/_header.scss';




// SCRATCH

.hotelName {
	padding: 15px 30px;
	background: #64313e;
	margin-bottom: 15px;
}
